{% extends "layout.njk" %} {% block content%}

<main>
    <div class="text">
        <h2>Sobre a "Dieta" Flexível</h2>
        <p>A dieta flexível If it fit your macros (IIFYM), que em tradução livre significa "se couber nos seus macros[nutrientes]", calcula a quantidade de macronuttrientes como proteínas, gorduras, carboidratos e fibras que uma pessoa pode ingerir por dia. Ela é similar à dieta dos pontos, com a diferença de que em vez de serem calculadas as calorias que podem ser ingeridas, são os macronutrientes e as fibras que são levados em conta.</p>
        <p> Para realizar este cálculo, os adeptos do método utilizam sites em que adicionam dados como peso, altura e quantidade de exercícios praticados e então é calculado automaticamente a quantidade de proteínas, carboidratos, gorduras e fibras que devem ser ingeridos em um dia.

        </p>
    </div>
    <div class="text">
        <h2>Por que ajuda a emagrecer?</h2>
        <p>Esta dieta ajuda na perda de peso, pois os macronutrientes são fontes de calorias e o método se propõe a determinar a quantidade de macronutrientes que seus adeptos podem ingerir. Lembrando que cada grama de carboidrato possui 4 calorias, um grama de proteína também tem 4 calorias e um grama de gordura tem 9 calorias. </p>
        <p> Uma vez que se diminui a ingestão de macronutrientes, o consumo de calorias também reduz e com menos calorias o corpo irá ingerir menos energia do que gasta. Desta forma é necessário que o organismo utilize a energia que tem armazenada, na forma de gordura principalmente. Assim, ocorre a perda de peso.
        </p>
    </div>
    <div class="text">
        <h2>Vantagens da dieta flexível</h2>
        <p> Uma vantagem desta dieta é que ela ajuda a planejar melhor a alimentação e não apenas seguir um cardápio. Desta forma, a pessoa pode ter maior facilidade na hora de pensar em reeducação alimentar. Além disso, apesar de não levar em conta os micronutrientes, este método já dá um passo importante ao lembrar que não são apenas as calorias que devem ser levadas em conta, mas também os macronutrientes.
        </p>
    </div>

</main>

{% endblock %}